# Copyright (c) 2022 Robert Bosch GmbH and its subsidiaries. All rights reserved.

minimum_pre_commit_version: "2.20.0"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: ["--unsafe"]
      - id: end-of-file-fixer
#      - id: no-commit-to-branch # default: main, master
      - id: trailing-whitespace

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.2
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows

  - repo: local
    hooks:
      - id: format
        entry: poetry run poe format
        language: system
        name: Format files
        types: [python]
#      - id: lint
#        entry: poetry run poe lint
#        language: system
#        name: Lint code
#        types: [python]
