name: Continuous Deployment

on:
  push:
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cd:
    name: CD
    runs-on: ubuntu-latest
    container: ubuntu:latest

    steps:
      - name: Install prerequisites
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt-get update
          apt-get install --yes \
            curl \
            gcc \
            git \
            python3-dev \
            python3-venv

      - name: Set up poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --force
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: poetry install

      - name: Configure git
        run: |
          git config --add --global safe.directory "$GITHUB_WORKSPACE"
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@de.bosch.com"

      - name: Bump Poetry version and create Git tag
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: poetry run poe bump-version-tag-with-semantic-rule

      - name: Build and deploy package
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: poetry publish --build --username __token__ --password $PYPI_TOKEN

#      - name: Deploy docs
#        run: |
#          poetry run poe test
#          poetry run poe docs
#          poetry run poe deploy-docs --push --alias latest

  update_release_draft:
    name: Update release notes
    runs-on: ubuntu-latest
    container: ubuntu:latest

    steps:
      - uses: release-drafter/release-drafter@v5.23.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
